/* From Uiverse.io by cssbuttons-io */ 
body {
  text-align: center;
  font-family: "DynaPuff", system-ui;
}

img {
  margin-left: 40px;
  margin-right: 40px;
  
}

nav {
  margin-bottom: 200px;
}

button {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
   }
   
   .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
       to left,
       hsl(340deg 100% 16%) 0%,
       hsl(340deg 100% 32%) 8%,
       hsl(340deg 100% 32%) 92%,
       hsl(340deg 100% 16%) 100%
     );
   }
   
   .front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   button:hover {
    filter: brightness(110%);
   }
   
   button:hover .front {
    transform: translateY(-6px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   button:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
   }
   
   button:hover .shadow {
    transform: translateY(4px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   button:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
   }
   
   button:focus:not(:focus-visible) {
    outline: none;
   }

   /* From Uiverse.io by shadowmurphy */ 
.search-bar {
  font-family: "DynaPuff", system-ui;
    width: 200px;
    height: 35px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #303030;
    border-bottom: 2px solid #9a9a9a;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #2d2d2d;
    color: white;
    transition: all 0.3s ease;
  }
  
  .search-bar::placeholder {
    color: #9a9a9a;
  }
  
  .search-bar:hover {
    background-color: #313131;
  }
  
  .search-bar:active,
  .search-bar:focus {
    background-color: #1e1f20;
    border: 1px solid #2d2d2d;
    border-bottom: 2px solid #4cc2ff;
  }
    
  body {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    text-align: center;
    line-height: 1;
    overflow-x: hidden;
  }
  main {
    position: relative;
  }
  section {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: visible;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: white;
    background-image: url(https://images.unsplash.com/photo-1615800098779-1be32e60cca3?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTUyNDAwMTN8&ixlib=rb-4.0.3&q=85);
    background-size: cover;
    background-repeat: no-repeat;
    user-select: none;
    pointer-events: none;
    z-index: -1;
  }
  #background > div {
    --size: 5vw;
    --symbol: "✽";
  
    --pos_x: 0vw;
    --duration_move: 7s;
    --delay_move: 0s;
  
    --duration_rotate: 1.5s;
    --delay_rotate: 0s;
    --duration_clip: 10s;
    --delay_clip: 0s;
    --hue: 0deg;
  
    position: absolute;
    top: 0;
    left: 0;
    font-size: clamp(15px, var(--size), 80px);
    font-family: "Noto Sans Symbols 2", sans-serif;
    transform-origin: center top;
    animation: move var(--duration_move) var(--delay_move) linear infinite normal
      both;
  }
  #background span {
    display: block;
    position: relative;
    transform-origin: center;
    transform: rotate(0deg);
    animation: rotate var(--duration_rotate) var(--delay_rotate) ease-in-out
      infinite alternate both;
  }
  #background span:after {
    content: var(--symbol);
    -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.2);
    line-height: 1.2;
    position: relative;
    display: block;
    color: transparent;
    background-clip: text;
    /*
    filter: contrast(0.8) brightness(1.2) hue-rotate(var(--hue))
      drop-shadow(0px 0px 0.1px gold);
    */
    filter: brightness(1.2) hue-rotate(var(--hue));
    background-image: url(https://images.unsplash.com/photo-1580822115965-0b2532068eff?&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTUxNDUzNzJ8&ixlib=rb-4.0.3&q=100&w=200&dpr=2);
    background-position: center;
    background-size: 200px auto; /* 必要に応じて調整 */
    background-repeat: repeat;
    transform: translateZ(0);
    animation: bg1 var(--duration_clip) var(--delay_clip) linear infinite
      alternate both;
  }
  #background > div:nth-child(even) span:after {
    animation-name: bg2;
  }
  @keyframes bg1 {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 100%;
    }
  }
  @keyframes bg2 {
    0% {
      background-position: 100% 0%;
    }
    100% {
      background-position: 0% 100%;
    }
  }
  @keyframes rotate {
    0% {
      transform: rotate(115deg);
    }
    100% {
      transform: rotate(245deg);
    }
  }
  @keyframes move {
    0% {
      transform: translate3d(var(--pos_x), calc(0vh - var(--size)), 0);
    }
    100% {
      transform: translate3d(var(--pos_x), 100vh, 0);
    }
  }
  
  /* 以下、ひたすら量産 */
  #background > div:nth-child(23n + 1) {
    --symbol: "🟄";
  }
  #background > div:nth-child(23n + 2) {
    --symbol: "❉";
  }
  #background > div:nth-child(23n + 3) {
    --symbol: "🟉";
  }
  #background > div:nth-child(23n + 4) {
    --symbol: "❈";
  }
  #background > div:nth-child(23n + 5) {
    --symbol: "✣";
  }
  #background > div:nth-child(23n + 6) {
    --symbol: "🞯";
  }
  #background > div:nth-child(23n + 7) {
    --symbol: "🟎";
  }
  #background > div:nth-child(23n + 8) {
    --symbol: "♦";
  }
  #background > div:nth-child(23n + 9) {
    --symbol: "✢";
  }
  #background > div:nth-child(23n + 10) {
    --symbol: "🞵";
  }
  #background > div:nth-child(23n + 11) {
    --symbol: "✤";
  }
  #background > div:nth-child(23n + 12) {
    --symbol: "✦";
  }
  #background > div:nth-child(23n + 13) {
    --symbol: "❇";
  }
  #background > div:nth-child(23n + 14) {
    --symbol: "🞻";
  }
  #background > div:nth-child(23n + 15) {
    --symbol: "✶";
  }
  #background > div:nth-child(23n + 16) {
    --symbol: "✳";
  }
  #background > div:nth-child(23n + 17) {
    --symbol: "❊";
  }
  #background > div:nth-child(23n + 18) {
    --symbol: "🟄";
  }
  #background > div:nth-child(23n + 19) {
    --symbol: "✻";
  }
  #background > div:nth-child(23n + 20) {
    --symbol: "❋";
  }
  #background > div:nth-child(23n + 21) {
    --symbol: "✷";
  }
  #background > div:nth-child(23n + 22) {
    --symbol: "✴";
  }
  
  #background > div:nth-child(21n + 1) {
    --pos_x: 5vw;
  }
  #background > div:nth-child(21n + 2) {
    --pos_x: 10vw;
  }
  #background > div:nth-child(21n + 3) {
    --pos_x: 15vw;
  }
  #background > div:nth-child(21n + 4) {
    --pos_x: 20vw;
  }
  #background > div:nth-child(21n + 5) {
    --pos_x: 25vw;
  }
  #background > div:nth-child(21n + 6) {
    --pos_x: 30vw;
  }
  #background > div:nth-child(21n + 7) {
    --pos_x: 35vw;
  }
  #background > div:nth-child(21n + 8) {
    --pos_x: 40vw;
  }
  #background > div:nth-child(21n + 9) {
    --pos_x: 45vw;
  }
  #background > div:nth-child(21n + 10) {
    --pos_x: 50vw;
  }
  #background > div:nth-child(21n + 11) {
    --pos_x: 55vw;
  }
  #background > div:nth-child(21n + 12) {
    --pos_x: 60vw;
  }
  #background > div:nth-child(21n + 13) {
    --pos_x: 65vw;
  }
  #background > div:nth-child(21n + 14) {
    --pos_x: 70vw;
  }
  #background > div:nth-child(21n + 15) {
    --pos_x: 75vw;
  }
  #background > div:nth-child(21n + 16) {
    --pos_x: 80vw;
  }
  #background > div:nth-child(21n + 17) {
    --pos_x: 85vw;
  }
  #background > div:nth-child(21n + 18) {
    --pos_x: 90vw;
  }
  #background > div:nth-child(21n + 19) {
    --pos_x: 95vw;
  }
  #background > div:nth-child(21n + 20) {
    --pos_x: 100vw;
  }
  
  #background > div:nth-child(12n + 1) {
    --hue: 30deg;
  }
  #background > div:nth-child(12n + 2) {
    --hue: 270deg;
  }
  #background > div:nth-child(12n + 3) {
    --hue: 90deg;
  }
  #background > div:nth-child(12n + 4) {
    --hue: 150deg;
  }
  #background > div:nth-child(12n + 5) {
    --hue: 330deg;
  }
  #background > div:nth-child(12n + 6) {
    --hue: 180deg;
  }
  #background > div:nth-child(12n + 7) {
    --hue: 60deg;
  }
  #background > div:nth-child(12n + 8) {
    --hue: 210deg;
  }
  #background > div:nth-child(12n + 9) {
    --hue: 120deg;
  }
  #background > div:nth-child(12n + 10) {
    --hue: 240deg;
  }
  #background > div:nth-child(12n + 11) {
    --hue: 300deg;
  }
  
  #background > div:nth-child(8n + 1) {
    --delay_move: -4s;
  }
  #background > div:nth-child(8n + 2) {
    --delay_move: -5s;
  }
  #background > div:nth-child(8n + 3) {
    --delay_move: -6s;
  }
  #background > div:nth-child(8n + 4) {
    --delay_move: -1s;
  }
  #background > div:nth-child(8n + 5) {
    --delay_move: -2s;
  }
  #background > div:nth-child(8n + 6) {
    --delay_move: -3s;
  }
  #background > div:nth-child(8n + 7) {
    --delay_move: -7s;
  }
  
  #background > div:nth-child(9n + 1) {
    --duration_move: 7.5s;
  }
  #background > div:nth-child(9n + 2) {
    --duration_move: 8s;
  }
  #background > div:nth-child(9n + 3) {
    --duration_move: 8.5s;
  }
  #background > div:nth-child(9n + 4) {
    --duration_move: 9s;
  }
  #background > div:nth-child(9n + 5) {
    --duration_move: 5.5s;
  }
  #background > div:nth-child(9n + 6) {
    --duration_move: 6s;
  }
  #background > div:nth-child(9n + 7) {
    --duration_move: 6.5s;
  }
  #background > div:nth-child(9n + 8) {
    --duration_move: 7.8s;
  }
  
  #background > div:nth-child(7n + 1) {
    --delay_rotate: 0.3s;
  }
  #background > div:nth-child(7n + 2) {
    --delay_rotate: 0.6s;
  }
  #background > div:nth-child(7n + 3) {
    --delay_rotate: 0.9s;
  }
  #background > div:nth-child(7n + 4) {
    --delay_rotate: -0.3s;
  }
  #background > div:nth-child(7n + 5) {
    --delay_rotate: -0.6s;
  }
  #background > div:nth-child(7n + 6) {
    --delay_rotate: -0.9s;
  }
  
  #background > div:nth-child(6n + 1) {
    --duration_rotate: 1s;
  }
  #background > div:nth-child(6n + 2) {
    --duration_rotate: 1.6s;
  }
  #background > div:nth-child(6n + 3) {
    --duration_rotate: 1.1s;
  }
  #background > div:nth-child(6n + 4) {
    --duration_rotate: 1.2s;
  }
  #background > div:nth-child(6n + 5) {
    --duration_rotate: 1.3s;
  }
  
  #background > div:nth-child(5n + 1) {
    --size: 3vw;
  }
  #background > div:nth-child(5n + 2) {
    --size: 4vw;
  }
  #background > div:nth-child(5n + 3) {
    --size: 6vw;
  }
  #background > div:nth-child(5n + 4) {
    --size: 7vw;
  }
  